MONGODB_CONNECTION_STRING=<GET FROM BW>
NEXTAUTH_SECRET=<GENERATE YOUR OWN RANDOM STRING>
NEXTAUTH_URL=http://localhost:3002
TELEGRAM_BOT_TOKEN=<CREATE YOUR OWN BOT AND FILL>
TELEGRAM_WEBHOOK_URL=http://localhost:3002/api/telegram/webhook
TELEGRAM_WEBHOOK_SECRET=<CREATE YOUR OWN AND FILL>
ENVIRONMENT=local
LOCAL_DEV_TELEGRAM_ID=<PUT YOUR OWN TELEGRAM ID>
NEXT_PUBLIC_ENVIRONMENT=local
PORT=3002